@media screen and (min-width: 580px) {
    .stories {
        width: 90%;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'gems' 'phills';
    }
}