* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color:  white;
}




h1 {
    max-width: 800px;
    margin: 0 auto;

    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 4.5rem;
}

.home-image {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.stories {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'gems'
    'phills';
    grid-column-gap: 3rem;

    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.gems {
    margin-bottom: 3rem;
}

.iconPara {
    width: 100%;
    max-width: 100%;
    text-align: center;

    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 2rem;
}

.icons {
    width: 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
}

.icons img {
    margin: 2rem;
}

.mapIconPara {
    margin-top: 2rem;
}

.taxiPara {
    margin-bottom: 5rem;
}