@media screen and (min-width: 580px) {
    .hamburger {
        display: none;
    }

    .desktopMenu {
        display: block;
    }

    .desktopMenu a {
        font-family: 'Amatic SC', cursive;

        text-decoration: none;
        font-size: 2.2rem;

        color: black;
        margin: 1rem;
    }
}

@media screen and (min-width: 580px) {
    .church-wrapper {
        height: 80vh;
    }
    
    h1 {
        max-width: 800px;
        margin: 0 auto;
    
        font-family: 'Amatic SC', cursive;
        font-weight: 400;
        text-align: center;
        font-size: 5rem;
    
        margin-bottom: 4rem;
        
    }
}
